# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [3]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [8]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.tail()

,city,date,fare,ride_id,driver_count,type
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

## Deliverable 1: Get a Summary DataFrame

In [21]:
#  1. Get the total rides for each city type
# pyber_data_df

urban_ride_count = pyber_data_df.groupby(["city"]).count()["ride_id"]

suburban_ride_count = pyber_data_df.groupby(["city"]).count()["ride_id"]

rural_ride_count = pyber_data_df.groupby(["city"]).count()["ride_id"]

print(urban_ride_count)
print(suburban_ride_count)
print(rural_ride_count)

city
Amandaburgh         18
Barajasview         22
Barronchester       16
Bethanyland         18
Bradshawfurt        10
                    ..
West Robert         31
West Samuelburgh    25
Williamsonville     14
Williamsstad        23
Williamsview        20
Name: ride_id, Length: 120, dtype: int64
city
Amandaburgh         18
Barajasview         22
Barronchester       16
Bethanyland         18
Bradshawfurt        10
                    ..
West Robert         31
West Samuelburgh    25
Williamsonville     14
Williamsstad        23
Williamsview        20
Name: ride_id, Length: 120, dtype: int64
city
Amandaburgh         18
Barajasview         22
Barronchester       16
Bethanyland         18
Bradshawfurt        10
                    ..
West Robert         31
West Samuelburgh    25
Williamsonville     14
Williamsstad        23
Williamsview        20
Name: ride_id, Length: 120, dtype: int64

In [20]:
# 2. Get the total drivers for each city type. ***I WANT TO GROUP BY CITY STILL, NOT JUST SIMPLE DRIVER COUNT!
# pyber_data_df

urban_drivers = pyber_data_df.groupby(["city"]).sum()["driver_count"]

suburban_drivers = pyber_data_df.groupby(["city"]).sum()["driver_count"]

rural_drivers = pyber_data_df.groupby(["city"]).sum()["driver_count"]

print(urban_drivers)
print(suburban_drivers)
print(rural_drivers)

city
Amandaburgh          216
Barajasview          572
Barronchester        176
Bethanyland          396
Bradshawfurt          70
                    ...
West Robert         1209
West Samuelburgh    1825
Williamsonville       28
Williamsstad        1357
Williamsview         920
Name: driver_count, Length: 120, dtype: int64
city
Amandaburgh          216
Barajasview          572
Barronchester        176
Bethanyland          396
Bradshawfurt          70
                    ...
West Robert         1209
West Samuelburgh    1825
Williamsonville       28
Williamsstad        1357
Williamsview         920
Name: driver_count, Length: 120, dtype: int64
city
Amandaburgh          216
Barajasview          572
Barronchester        176
Bethanyland          396
Bradshawfurt          70
                    ...
West Robert         1209
West Samuelburgh    1825
Williamsonville       28
Williamsstad        1357
Williamsview         920
Name: driver_count, Length: 120, dtype: int64

In [24]:
#  3. Get the total amount of fares for each city type
urban_fare = pyber_data_df.groupby(["city"]).sum()["fare"]

suburban_fare = pyber_data_df.groupby(["city"]).sum()["fare"]

rural_fare = pyber_data_df.groupby(["city"]).sum()["fare"]

print(urban_fare)
print(suburban_fare)
print(rural_fare)

city
Amandaburgh         443.55
Barajasview         557.31
Barronchester       582.76
Bethanyland         593.21
Bradshawfurt        400.64
                     ...
West Robert         778.84
West Samuelburgh    544.19
Williamsonville     446.25
Williamsstad        560.33
Williamsview        531.98
Name: fare, Length: 120, dtype: float64
city
Amandaburgh         443.55
Barajasview         557.31
Barronchester       582.76
Bethanyland         593.21
Bradshawfurt        400.64
                     ...
West Robert         778.84
West Samuelburgh    544.19
Williamsonville     446.25
Williamsstad        560.33
Williamsview        531.98
Name: fare, Length: 120, dtype: float64
city
Amandaburgh         443.55
Barajasview         557.31
Barronchester       582.76
Bethanyland         593.21
Bradshawfurt        400.64
                     ...
West Robert         778.84
West Samuelburgh    544.19
Williamsonville     446.25
Williamsstad        560.33
Williamsview        531.98
Name: fare, Length: 120, dtype: float64

In [ ]:
#  4. Get the average fare per ride for each city type. 
# So, divide the sum of the fare per city by the sum of the rides per city.

In [ ]:
# 5. Get the average fare per driver for each city type. 
# So, divide the sum of the fare per city by the sum of the rides per city.

In [ ]:
#  6. Create a PyBer summary DataFrame.

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')